#
# SSLeay configuration for Spreed WebRTC.
#

RANDFILE                = /dev/urandom

[ req ]
default_bits            = 2048
default_md              = sha256
default_keyfile         = privkey.pem
distinguished_name      = req_distinguished_name
prompt                  = no
policy                  = policy_anything
req_extensions          = req_v3

[ req_v3 ]
basicConstraints        = CA:FALSE
keyUsage                = nonRepudiation, digitalSignature, keyEncipherment

[ req_distinguished_name ]
commonName              = spreed-webrtc

